@import "../../vars.css";
.container {
  border: 1px solid var(--color-primary);
  margin: 0px 10%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left p {
  color: var(--color-primary);
  font-size: clamp(0.7em, 1vw, 2em);
  border: 1px solid var(--color-primary);
  width: fit-content;
  padding: 10px;
}
.left .name {
  text-transform: uppercase;
  margin-top: 20px;
  color: var(--color-primary);
  font-size: clamp(2.62em, 6vw, 8em);
  border: 1px solid var(--color-primary);
  width: fit-content;

  padding: 10px;
}
.left .profession {
  width: fit-content;
  border: 1px solid var(--color-primary);
  padding: 10px;
  margin-top: 20px;
  color: var(--color-primary);
  font-size: clamp(1.23em, 3vw, 4em);
}
.hireMeButton {
  display: flex;
  color: var(--color-primary);
  align-items: center;
  justify-content: space-evenly;
}

.hireMe,
.downloadButton {
  width: fit-content;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: clamp(0.9em, 2vw, 2em);
  border-radius: 50px;
  text-decoration: none;
}
/* .hireMe a,
.downloadButton a {
  color: var(--color-bg);
  text-decoration: none;
} */
/* .hireMe a:hover,
.downloadButton a:hover {
  color: var(--color-primary);
  text-decoration: none;
} */
/* .downloadButton {
  width: fit-content;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: clamp(0.9em, 2vw, 2em);
  border-radius: 50px;
  text-decoration: none;
} */
.downloadButton:hover,
.hireMe:hover {
  background-color: transparent;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  padding: 10px 50px;
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
}
/* .hireMe:hover {
  background-color: transparent;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  padding: 10px 50px;
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
} */
.hireMe:active,
.downloadButton:active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.right {
  width: 50%;
  right: 0;
  position: relative;
  overflow: hidden;
}
.heroImage {
  width: 90%;
  border-radius: 50%;
  padding-left: 20%;
  position: relative;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .left {
    width: 100%;
  }
  .hireMe,
  .downloadButton {
    width: 100%;
    text-align: center;
  }
  .hireMeButton {
    flex-direction: column;
  }

  .right {
    width: 80%;
  }
}
