@import "../../vars.css";
.container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10%;
  border: 1px solid var(--color-primary);
  position: relative;
  align-items: center;
  padding: 10px;

}



.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
  border: 1px solid var(--color-primary);
  padding: 5px;
  border-radius: 10px;
}
.menu {
  display: flex;
}
.menuBtn {
  display: none;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 80px;
}

.link a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1rem;
}
.link a:active {
  color: transparent;
}

@media screen and (max-width: 1024px) {
  .menuBtn {
    display: block;
  }
  .links {
    flex-direction: column;
    position: absolute;

    top: 83px;
    right: -1px;
    border: 1px solid var(--color-primary);
    padding: 10px;
    width: 200px;
    display: none;
    z-index: 1;
  }
  .link {
    display: block;
    width: 100%;
    text-align: center;
    border: inherit;
    padding: 10px;
  }
  .activeLinks {
    display: flex;
    gap: 10px;
  }
}
