
@import "./vars.css";

.container {
  background-color: var(--color-bg);
  font-family: poppins;
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 1px solid transparent;
    overflow: auto;
    padding: 1px; */
  /* display: flow-root; */
  overflow: hidden;
  border: 1px solid var(--color-primary);
}

.scrollbar {
  width: 100%;
  height: 10px;
  background-color: var(--color-primary);
  position: fixed;
  transform-origin: left;
  scale: 0 1;

  top: 0;
  animation: scrollbar-watcher linear;
  animation-timeline: scroll();
}
@keyframes scrollbar-watcher {
  to {
    scale: 1 1;
  }
}

.slide {
  width: 75%;
  height: 10px;
  background-color: var(--color-primary);
  margin: 10px auto;
  border-radius: 50px;
}

.sideBar {
  position: fixed;
  top: 50%;
  border: 1px solid var(--color-primary);
  width: 5%;
  padding: 0 10px;
  left: 0;
}

#icon {
  position: fixed;
  top: 40%;
  left: 10px;
  color: var(--color-primary);
  font-size: 50px;
  cursor: pointer;
  animation: popUp linear 1s infinite;
  transition: width 0.5s linear;
  font-size: clamp(20px, 4vw, 50px);
}

@keyframes popUp {
  0% {
    top: 40%;
  }
  50% {
    top: 41%;
  }
  100% {
    top: 40%;
  }
}
